
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  background-color: #233139;
  height: 100vh;
  width: 100vw;
}

.home-page {
  span,
  img,
  button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  span{
    color: white;
    font-size: 48px;
  }
}

header {
  height: 100px;
  line-height: 100px;
  background-color: #233139;
  span {
    color: white;
    float: right;
    font-size: 24px;
    margin-right: 40px;
  }
}

.chat-room {
  height: 90vh
}

.page-title {
  margin: 0;
  color: white;
  vertical-align: middle;
  font-size: 48px;
  line-height: 100px;
  padding-left: 30px;
}

.user-label {
  color: white;
}

.user-form {
  float: right;
}

#confirm,
#username {
  margin-left: 10px;
}

#username{
  height: 30px;
}

.room-list {
  border: 1px solid #233139;
  height: 87vh;
  h2 {
    padding-left: 10px;
  }
}

.post-list {
  height: 80vh;
  border: 1px solid #233139;
  overflow: auto;
}

.message-form {
  height: 60px;
}

#chat-post {
  margin-top: 10px;
  width: 85%;
}

#chat-post,
#post-submit {
  display: inline;
  vertical-align: middle;
}

#post-submit {
  border-radius: 0px;
  height: 63px;
  width: 15%;
  margin-top: 10px;
}
